dontaudit untrusted_app_25 hal_memtrack_default:binder { call };
dontaudit untrusted_app_25 proc:file { read open getattr };
dontaudit untrusted_app_25 adb_data_file:dir { read getattr };
dontaudit untrusted_app_25 proc_stat:file { read open getattr };
dontaudit untrusted_app_25 sysfs:file { read open getattr };
dontaudit untrusted_app_25 touchpanel_sysfs:file { getattr };
dontaudit untrusted_app_25 camera_prop:file { read open getattr };
dontaudit untrusted_app_25 system_data_file:dir { read };
dontaudit untrusted_app_25 apk_data_file:file { setattr };
dontaudit untrusted_app_25 proc_zoneinfo:file { read open getattr };
dontaudit untrusted_app_25 serialno_prop:file { open getattr };

